@font-face {
  font-family: 'OhnoTypeCustom';
  src: url('https://javirod10.github.io/degular_bold_tribbu/fonts/degular-bold.woff2') format('woff2'),
       url('https://javirod10.github.io/degular_bold_tribbu/fonts/degular-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'OhnoTypeCustom', Arial, sans-serif;
}


